#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

HEXCALC                 ICON    DISCARDABLE     "HexCalc.ico"

#include "HexCalc.dlg"
