#include <windows.h>
#include "Resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

ABOUTBOX DIALOG DISCARDABLE  32, 32, 200, 234
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
{
   DEFPUSHBUTTON   "OK", IDOK, 35, 212, 50, 14, WS_GROUP
   PUSHBUTTON      "Cancel", IDCANCEL, 113, 212, 50, 14, WS_GROUP

   ICON            "ABOUT2",IDC_STATIC, 7, 7, 20, 20

   CTEXT           "About2", IDC_STATIC, 57, 12, 86, 8
   CTEXT           "About Box Demo Program", IDC_STATIC, 7, 40, 186, 8
   LTEXT           "", IDC_PAINT, 114, 67, 72, 72

   GROUPBOX        "&Color", IDC_STATIC, 7, 60, 84, 143
   RADIOBUTTON     "&Black", IDC_BLACK, 16, 76, 64, 8, WS_GROUP | WS_TABSTOP
   RADIOBUTTON     "B&lue", IDC_BLUE, 16, 92, 64, 8
   RADIOBUTTON     "&Green", IDC_GREEN, 16, 108, 64, 8
   RADIOBUTTON     "Cya&n", IDC_CYAN, 16, 124, 64, 8
   RADIOBUTTON     "&Red", IDC_RED, 16, 140, 64, 8
   RADIOBUTTON     "&Magenta", IDC_MAGENTA, 16, 156, 64, 8
   RADIOBUTTON     "&Yellow", IDC_YELLOW, 16, 172, 64, 8
   RADIOBUTTON     "&White", IDC_WHITE, 16, 188, 64, 8
   GROUPBOX        "&Figure", IDC_STATIC, 109, 156, 84, 46, WS_GROUP
   RADIOBUTTON     "Rec&tangle", IDC_RECT, 116, 172, 65, 8, WS_GROUP | WS_TABSTOP
   RADIOBUTTON     "&Ellipse", IDC_ELLIPSE, 116, 188, 64, 8
}

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

ABOUT2                  ICON    DISCARDABLE     "About2.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

ABOUT2 MENU DISCARDABLE
{
   POPUP "&Help"
   {
      MENUITEM "&About",                      IDM_APP_ABOUT
   }
}
