#include <windows.h>
#include "Resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

ABOUT1    ICON    "About1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

ABOUTBOX DIALOG DISCARDABLE  32, 32, 180, 102
STYLE DS_MODALFRAME | WS_POPUP
FONT 10, "MS Sans Serif"
{
   DEFPUSHBUTTON "OK", IDOK, 66, 81, 50, 14

   ICON          "ABOUT1", IDC_STATIC, 7, 7, 21, 20

   CTEXT         "About1", IDC_STATIC, 40, 12, 100, 8
   CTEXT         "About Box Demo Program", IDC_STATIC, 7, 40, 166, 8
   CTEXT         "(c) Charles Petzold, 1998", IDC_STATIC, 7, 52, 166, 8
}

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

ABOUT1 MENU
{
    POPUP "&Help"
    {
        MENUITEM "&About About1...",  IDM_APP_ABOUT
    }
}
